
body{
	background-image: url("..//images/background.jpg");
	background-repeat: no-repeat;
	background-size: scroll;
		background-position: center center;
			background-attachment: fixed;
}
.logo{width: 55px; height: 55px;}


